    <div class="weui_tabbar">
        <a href="{% url 'index' %}" class="weui_tabbar_item weui_bar_item_on">
            <div class="weui_tabbar_icon">
                <img src="/static/images/icon_nav_button.png" alt="">
                    </div>
            <p class="weui_tabbar_label">首页</p>
        </a>
        <a href="{% url 'getStudentTranscript' %}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="/static/images/icon_nav_search_bar.png" alt="">
                    </div>
            <p class="weui_tabbar_label">成绩查询</p>
        </a>
      
        <a href="{% url 'information' %}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="/static/images/icon_nav_dialog.png" alt="">
                    </div>
            <p class="weui_tabbar_label">艺考资讯</p>
        </a>
        
        <a href="{% url 'myOpus' %}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="/static/images/icon_nav_article.png" alt="">
                    </div>
            <p class="weui_tabbar_label">我的作品</p>
        </a>
    </div>
