<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body ontouchstart>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/static/images/swiper-1.jpg" /></div>
                <div class="swiper-slide"><img src="/static/images/swiper-2.jpg" /></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        {% if message %}
        <div class="swiper-container" style="color:red">&nbsp;&nbsp;&nbsp;{{ message }}</div>
        {% endif %}
        <form action="/sxEdu/login/" method="post">
            {% csrf_token %}
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text" placeholder="请输姓名" name="studentName">
            </div>    
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">学号</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="tel" placeholder="请输入学号" name="studentId">
            </div>
        </div>
        <div class='demos-content-padded'>
            <input type="submit" value="登陆" class="weui_btn weui_btn_primary">
        </div>
        </form>
    </body>
</html>
