<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body ontouchstart>
      <!--图库弹出层 开始-->
      <div class="mskeLayBg"></div>
      <div class="mskelayBox">
            <div class="mske_html">
            </div>
            <img class="mskeClaose" src="/static/images/mke_close.png" width="27" height="27" />
      </div>
      <!--图库弹出层 结束-->
    <div class="weui_panel weui_panel_access">
      <div class="weui_panel_hd">我的作品</div>
      <div class="weui_panel_bd">
          {% for opus in opusList %}
        <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
            <div class="weui_media_hd">
              <img id="openImg" class="weui_media_appmsg_thumb" src="/static/{{opus.opusImage}}"/>
            </div>
            <div class="weui_media_bd">
              <h4 class="weui_media_title">{{opus.imageTitle}}</h4>
              <p class="weui_media_desc">{{opus.createDate}}</p>
          </div>
        </a>
            {% endfor %}
      </div>
  </div>
  <script>
                  //图库弹出层
              $(".mskeLayBg").height($(document).height());
                      $(".mskeClaose").click(function(){$(".mskeLayBg,.mskelayBox").hide()});
                              $(".weui_media_appmsg_thumb").click(function(){$(".mske_html").html("<img src='"+this.src+"'>");$(".mskeLayBg").show();$(".mskelayBox").fadeIn(300)});
                                      $(".mskeTogBtn").click(function(){$(".msKeimgBox").toggleClass("msKeimgBox2");$(this).toggleClass("mskeTogBtn2")});                                $(".swiper-container").swiper({loop:true,autoplay:3000});       
  </script>
  {% include 'footer.html' %}
    <body>
</html>
