<!DOCTYPE html>
<html>
  <head>
    <title>三夏教育</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

<link rel="stylesheet" href="/static/css/weui.min.css">
<link rel="stylesheet" href="/static/css/jquery-weui.css">
<link rel="stylesheet" href="/static/css/demos.css">

  </head>

  <body ontouchstart>

    <div class="weui_search_bar" id="search_bar">
      <form class="weui_search_outer">
        <div class="weui_search_inner">
          <i class="weui_icon_search"></i>
          <input id="studentId" value="{{studentId}}" type="search" onblur="javascript:var studentId=document.getElementById('studentId').value;window.location.href='{% url 'othersOpus' %}?studentId='+studentId;" class="weui_search_input" id="search_input" placeholder="输入姓名或者学号即可搜索他人作品" required/>
          <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
        </div>
        <label for="search_input" class="weui_search_text" id="search_text">
          <i class="weui_icon_search"></i>
          <span>输入姓名或者学号即可搜索他人作品</span>
        </label>
      </form>
      <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
    </div>

    <div class="weui_panel weui_panel_access">
              <div class="weui_panel_hd">他的作品</div>
                    <div class="weui_panel_bd">     
                                  {% for opus in opusList %}      
                                          <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                                                        <div class="weui_media_hd">     
                                                                          <img class="weui_media_appmsg_thumb" src="/static/{{opus.opusImage}}" alt=""/>
                                                                                    </div>
                                                                                              <div class="weui_media_bd">     
                                                                                                                <h4 class="weui_media_title">{{opus.imageTitle}}</h4>
                                                                                                                              <p class="weui_media_desc">{{opus.createDate}}</p>
                                                                                                                                        </div>
                                                                                                                                              </a>
                                                                                                                                                          {% endfor %}
                                                                                                                                                                </div>
                                                                                                                                                                    </div>


    <div class="weui_tabbar">
        <a href="{% url 'login' %}" class="weui_tabbar_item weui_bar_item_on">
            <div class="weui_tabbar_icon">
                <img src="/static//images/icon_nav_button.png" alt="">
                    </div>
            <p class="weui_tabbar_label">首页</p>
        </a>
        <a href="{% url 'getStudentTranscript' %}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="/static//images/icon_nav_search_bar.png" alt="">
                    </div>
            <p class="weui_tabbar_label">成绩查询</p>
        </a>
        
        <a href="#" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="/static/images/icon_nav_dialog.png" alt="">
                    </div>
            <p class="weui_tabbar_label">艺考资讯</p>
        </a>
        
        <a href="{% url 'myOpus' %}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="/static/images/icon_nav_article.png" alt="">
                    </div>
            <p class="weui_tabbar_label">我的作品</p>
        </a>
    </div>
    <script src="/static/js/jquery-2.1.4.js"></script>
<script src="/static//js/jquery-weui.js"></script>

  </body>
</html>
