<!DOCTYPE html>
<html>
    {% include 'header.html' %}
  <body ontouchstart>

    <div class="weui_search_bar" id="search_bar">
      <form class="weui_search_outer">
        <div class="weui_search_inner">
          <i class="weui_icon_search"></i>
          <input id="studentId" value="{{studentId}}" type="search" onblur="javascript:var studentId=document.getElementById('studentId').value;window.location.href='{% url 'othersOpus' %}?studentId='+studentId;" class="weui_search_input" id="search_input" placeholder="输入姓名或者学号即可搜索他人作品" required/>
          <!-- <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>-->
        </div>
      </form>
      <!-- <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>-->
    </div>

    <div class="weui_panel weui_panel_access">
              <div class="weui_panel_hd">他的作品</div>
                    <div class="weui_panel_bd">     
                                  {% for opus in opusList %}      
                                          <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                                                        <div class="weui_media_hd">     
                                                                          <img class="weui_media_appmsg_thumb" src="/static/{{opus.opusImage}}" alt=""/>
                                                                                    </div>
                                                                                              <div class="weui_media_bd">     
                                                                                                                <h4 class="weui_media_title">{{opus.imageTitle}}</h4>
                                                                                                                              <p class="weui_media_desc">{{opus.createDate}}</p>
                                                                                                                                        </div>
                                                                                                                                              </a>
                                                                                                                                                          {% endfor %}
                                                                                                                                                                </div>
                                                                                                                                                                    </div>
                                                                                                                                                                    {% include 'footer.html' %}
                                                                                                                                                                </body>
</html>
