<!DOCTYPE html>
<html>
    {% include 'header.html' %}
  <body ontouchstart>
    <div class="weui_msg">
      <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
      <div class="weui_text_area">
        <h2 class="weui_msg_title">上传成功</h2>
        <p class="weui_msg_desc">点击确定可继续上传,取消返回首页</p>
      </div>
      <div class="weui_opr_area">
        <p class="weui_btn_area">
        <a href="{% url 'uploadOpus' %}" class="weui_btn weui_btn_primary">确定</a>
          <a href="{% url 'index' %}" class="weui_btn weui_btn_default">取消</a>
        </p>
      </div>
    </div>
  </body>
</html>
