<!DOCTYPE html>
<html>
  <head>
    <title>三夏教育</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

<link rel="stylesheet" href="/static/css/weui.min.css">
<link rel="stylesheet" href="/static/css/jquery-weui.css">
<link rel="stylesheet" href="/static/css/demos.css">

  </head>

  <body ontouchstart>


    <header class='demos-header'>
      <h1 class="demos-title">作品上传</h1>
    </header>
    <div class="weui_cells weui_cells_form">
        
    <form action="{% url 'doUpload' %}" method="post" enctype="multipart/form-data">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <textarea class="weui_textarea" name="imageTitle" placeholder="请输入标题" rows="3"></textarea>
                <div class="weui_textarea_counter"></div>
            </div>
        </div>
    </div>
        {% csrf_token %}
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <div class="weui_uploader">
                <div class="weui_uploader_hd weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">图片上传</div>
                </div>
                <div class="weui_uploader_bd">
                    <ul class="weui_uploader_files" id="showImagePanel">
                    </ul>
                    <div class="weui_uploader_input_wrp">
                        <input onchange="uploadImageChange(this.files)" class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" name="opusImage" multiple="multiple"/>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='demos-content-padded'>
    <input type="submit" class="weui_btn weui_btn_primary"></input>
</div>
</form>
    <script src="/static/js/jquery-2.1.4.js"></script>
<script src="/static/js/jquery-weui.js"></script>
<script>
    function uploadImageChange(files){
    if(files.length){
            var file = files[0];
            var reader = new FileReader();
            reader.onload = function(){
               document.getElementById("showImagePanel").innerHTML = "<li class='weui_uploader_file'><img style='width:79px;height:79px;' src='"+this.result+"'/></li>";
            }
            reader.readAsDataURL(file);
    }
    }
</script>
  </body>
</html>
